!.gitignore
/examples/genome_processing/*/conserved_domains/
/examples/genome_processing/*/contigs/
/examples/genome_processing/*/features/
/examples/genome_processing/*/info.json
/examples/conserved_domain_search/*.csv
/examples/conserved_domain_search/*.xml
